.checkbox {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: var(--mantine-spacing-xs);
  z-index: 3;
  pointer-events: none;
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 200ms ease,
    transform 200ms ease;
}
